# игнорировать файл README.md
README.md

# игнорировать директорию venv
venv

# игнорировать все файлы с расширением .doc
*.doc 

# игнорировать директорию __pycache__
__pycache__

# игнорировать директорию .mypy_cache
.mypy_cache